# Packages

In [46]:
import pandas as pd
import random

# Data

In [47]:
database = pd.read_csv('Bank_accounts.csv')
database

Empty DataFrame
Columns: [Full_name, Full_address, National_ID, Bank_Account_ID, Age, Guardian_National_ID, Account_Status, Balance, Password]
Index: []

# Bank Account

In [48]:
#function generate random number with specific number of digits
def n_len_rand(len_, floor=1):
    top = 10**len_
    if floor > top:
        raise ValueError(f"Floor '{floor}' must be less than requested top '{top}'")
    return int(f'{random.randrange(floor, top):0{len_}}')

In [49]:
Active= 1
Restricted =2 
Closed =3

In [50]:
class Bank_account:
    def __init__(self):
        # full name
        while True:
            print("Enter the full name : ",end='')
            Fname=input()
            no_spaces=Fname.strip().count(' ')
            if no_spaces>=3:
                self.Full_name=Fname
                break
            else:
                print("Enter valid name,You must enter at least first four names")
                
        #full adress
        print("Enter the full adress : ",end='')
        Fadd=input()
        self.Full_address=Fadd
        
        # National ID
        while True:
            print("Enter the National ID : ",end='')
            NID=input()
            no_digit=len(NID.strip())
            if no_digit==14:
                self.National_ID=int(NID)
                break
            else:
                print("Enter valid ID,You must enter National ID which consist of 14 digit Number")
                
        #Bank Account ID
        self.Bank_Account_ID=n_len_rand(10)
        
        #Age
        print("Enter your age : ",end='')
        age=int(input())
        self.Age=age
        if age>=21:
            self.Guardian_National_ID=-1
        else:
            # must have a guardian
             while True:
                print("Enter the Guardian National ID : ",end='')
                GNID=input()
                no_digit=len(NID.strip())
                if no_digit==14:
                    self.Guardian_National_ID=int(NID)
                    break
                else:
                    print("Enter valid ID,You must enter National ID which consist of 14 digit Number")
        
        #Account Status
        self.Account_Status=Active
        
        # Balance
        print('Enter the  Balance : ',end='')
        self.Balance=float(input())
        
        #Password
        self.Password=n_len_rand(5)
        
        #add the new account to the data frame

        new_account =vars(self)
        
        #Bank_accounts=Bank_accounts.append(new_account, ignore_index = True)

In [51]:
first_account = Bank_account()

Enter the full name : sdfsad
Enter valid name,You must enter at least first four names
Enter the full name :  sdfad asdf asdf asdf
Enter the full adress : sd;lkasd
Enter the National ID : 5323132465
Enter valid ID,You must enter National ID which consist of 14 digit Number
Enter the National ID : 1234567899874
Enter valid ID,You must enter National ID which consist of 14 digit Number
Enter the National ID : 12365478925789
Enter your age : 66
Enter the  Balance : 231546522

In [61]:
database = add_account(first_account, database)

C:\Users\ali\AppData\Local\Temp\ipykernel_3584\3944954087.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return database.append(df2, ignore_index = True)

In [32]:
# add a new_account to the database
def add_account(new_account, database):
    
    df2 = {'Full_name': new_account.Full_name, 'Full_address': new_account.Full_address,
           'National_ID': new_account.National_ID, 'Bank_Account_ID': new_account.Bank_Account_ID,
          'Age': new_account.Age, 'Guardian_National_ID': new_account.Guardian_National_ID,
          'Account_Status': new_account.Account_Status, 'Balance': new_account.Balance,
           'Password' : new_account.Password}

    return database.append(df2, ignore_index = True)

In [85]:
database

,Full_name,Full_address,National_ID,Bank_Account_ID,Age,Guardian_National_ID,Account_Status,Balance,Password
0,sdfad asdf asdf asdf,sd;lkasd,12365478925789,8826312792,66,-1,1,99000000000231653376.0,88
1,sdfad asdf asdf asdf,sd;lkasd,12365478925789,8826312792,66,-1,1,99000000000231653376.0,88
2,sdfad asdf asdf asdf,sd;lkasd,12365478925789,8826312792,66,-1,1,99000000000231653376.0,88

In [81]:
def Make_Transaction(account_ID, Distination_ID, database, money):
    
    clint_money=database[database['Bank_Account_ID']==account_ID].Balance
    
    if money>clint_money:
        print("Can't Make Transaction")
        return
             
    database.loc[database['Bank_Account_ID']==Distination_ID,'Balance']+=money

In [ ]:
def Change_Account_Status(account_ID,status):

In [ ]:
def Get_Cash(account_ID,money):

In [74]:
def Deposit_in_Account(account_ID,money):
    
    if money > 0:
    
        if (database['Bank_Account_ID']==account_ID).any():
            database.loc[database['Bank_Account_ID']==account_ID,'Balance'] += money
        else:
            print("Account not found")
    else:
        print('Invalid money')

In [ ]:
def Change_Account_Password(account_ID, password, database):
    
    if (database['Bank_Account_ID'] == account_ID).any():
            database.loc[database['Bank_Account_ID']==account_ID,'Password'] = password
    else:
        print("Account not found")