# Packages

In [1]:
import pandas as pd
import random

# Data

In [36]:
Database = pd.read_csv('Bank_accounts.csv')
Database

,Full_name,Full_address,National_ID,Bank_Account_ID,Age,Guardian_National_ID,Account_Status,Balance,Password
0,ahmed ahmed ali ali,al maineia,1235214789625,818097080,25,-1,1,25000.0,64566
1,ahmed ahmed ali ali,al maineia,1235214789625,818097080,25,-1,1,25000.0,64566
2,ali said daebis ali,al quanter,14579630248751,9019068737,20,14579630248751,1,15000.0,32198

# Bank Account

In [17]:
#function generate random number with specific number of digits
def n_len_rand(len_, floor=1):
    top = 10**len_
    if floor > top:
        raise ValueError(f"Floor '{floor}' must be less than requested top '{top}'")
    return int(f'{random.randrange(floor, top):0{len_}}')

In [18]:
Active= 1
Restricted =2 
Closed =3

In [19]:
class Bank_account:
    def __init__(self):
        # full name
        while True:
            print("Enter the full name : ",end='')
            Fname=input()
            no_spaces=Fname.strip().count(' ')
            if no_spaces>=3:
                self.Full_name=Fname
                break
            else:
                print("Enter valid name,You must enter at least first four names")
                
        #full adress
        print("Enter the full adress : ",end='')
        Fadd=input()
        self.Full_address=Fadd
        
        # National ID
        while True:
            print("Enter the National ID : ",end='')
            NID=input()
            no_digit=len(NID.strip())
            if no_digit==14:
                self.National_ID=int(NID)
                break
            else:
                print("Enter valid ID,You must enter National ID which consist of 14 digit Number")
                
        #Bank Account ID
        self.Bank_Account_ID=n_len_rand(10)
        
        #Age
        print("Enter your age : ",end='')
        age=int(input())
        self.Age=age
        if age>=21:
            self.Guardian_National_ID=-1
        else:
            # must have a guardian
             while True:
                print("Enter the Guardian National ID : ",end='')
                GNID=input()
                no_digit=len(NID.strip())
                if no_digit==14:
                    self.Guardian_National_ID=int(NID)
                    break
                else:
                    print("Enter valid ID,You must enter National ID which consist of 14 digit Number")
        
        #Account Status
        self.Account_Status=Active
        
        # Balance
        print('Enter the  Balance : ',end='')
        self.Balance=float(input())
        
        #Password
        self.Password=n_len_rand(5)
        
        #add the new account to the data frame

        #new_account =vars(self)
        
        #Bank_accounts=Bank_accounts.append(new_account, ignore_index = True)

In [20]:
# add a new_account to the database
def add_account(new_account, database):
    
    df2 = {'Full_name': new_account.Full_name, 'Full_address': new_account.Full_address,
           'National_ID': new_account.National_ID, 'Bank_Account_ID': new_account.Bank_Account_ID,
          'Age': new_account.Age, 'Guardian_National_ID': new_account.Guardian_National_ID,
          'Account_Status': new_account.Account_Status, 'Balance': new_account.Balance,
           'Password' : new_account.Password}

    return database.append(df2, ignore_index = True)

In [21]:
def Make_Transaction(account_ID, Distination_ID, database, money):
    
    clint_money=database[database['Bank_Account_ID']==account_ID].Balance
    
    if money>clint_money:
        print("Can't Make Transaction")
        return
             
    database.loc[database['Bank_Account_ID']==Distination_ID,'Balance']+=money

In [22]:
def Change_Account_Status(account_ID, status, database):
    
    if (database['Bank_Account_ID']==account_ID).any():
        database.loc[database['Bank_Account_ID']==account_ID,'Account_Status'] = status
    else:
        print("Account not found")

In [23]:
def Get_Cash(account_ID, money, database):
    
        if (database['Bank_Account_ID']==account_ID).any():
            
            if money > database.loc[database['Bank_Account_ID']==account_ID,'Balance']:
                database.loc[database['Bank_Account_ID']==account_ID,'Balance'] -= money
            else:
                print('Invalid money')
                
        else:
            print("Account not found")

In [24]:
def Deposit_in_Account(account_ID, money, database):
    
    if money > 0:
    
        if (database['Bank_Account_ID']==account_ID).any():
            database.loc[database['Bank_Account_ID']==account_ID,'Balance'] += money
        else:
            print("Account not found")
    else:
        print('Invalid money')

In [25]:
def Change_Account_Password(account_ID, password, database):
    
    if (database['Bank_Account_ID'] == account_ID).any():
            database.loc[database['Bank_Account_ID']==account_ID,'Password'] = password
    else:
        print("Account not found")

In [34]:
def save_database(database):
    database.to_csv('Bank_accounts.csv', index=False)